<!DOCTYPE html>
<html>
    <head>
    <!-- Latest compiled and minified CSS -->
    <title>Database</title>
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    	<script type="text/javascript"  src="static\jquery.twbsPagination.js"></script>


    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/balloon-css/0.5.0/balloon.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    </head>
    <body>
    		<div class="jumbotron text-center">
    		<h1><a href="/index">Osaühingute register</a></h1>
    		</div>
        <div>
            Quick links:
                <a href="new_company"><i style="margin-right: 0.5em; color: #EEEEEE;" class="glyphicon glyphicon-plus"></i>Uus osaühing</a>
                <a href="/index"> <i style="margin-right: 0.5em; color: #EEEEEE;" class="glyphicon glyphicon-home"></i>Esileht</a>               

	        
					{% with messages = get_flashed_messages() %}
						{% if messages %}
							<ul>
								{% for message in messages %}
									<li>{{ message }}</li>
								{% endfor %}
							</ul>
						{% endif %}
					{% endwith %}
        </div>

        {% block content %}{% endblock %}

    </body>
</html>
{% block scripts %}
    <script>
    
    </script>
{% endblock %}
