{% extends "base.html" %}
{% block content %}
<div class="container">
    <ul id="pagination" class="pagination-sm"></ul>
    <div class="search">
        <input id="search_string" type="text" placeholder="Search..">
        <button id="search_company" type="submit"><i class="fa fa-search"></i></button>
    </div>
	<table class="table" id="company_table">
        <thead>
            <tr>
                <td>
                    Andmebaasi ID
                </td>
                <td>
                    Registrikood
                </td>
                <td>
                    Ettevõtte nimi
                </td>
                <td>
                    Aadress
                </td>
                <td>
                    Asutamiskuupäev
                </td>
                <td>
                    Staatus
                </td>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
                <tr class='clickable-row' data-target="_blank" data-href='get_data/{{ row.id }}'>
                    <td style="width: 3%">
                        {{ row.id }}
                    </td>
                    <td style="width: 8%">
                        {{ row.registry_id }}
                    </td>
                    <td style="width: 20%">
                        {{ row.name }}
                    </td>
                    <td style="width: 20%">
                        {% if row.address %}
                            {{ row.address }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td style="width: 5%">
                        {{ row.established }}
                    </td>
                    <td style="width: 5%">
                        {{ row.status }}
                    </td>
                    <td style="width: 5%">
                    <a href='get_data/{{ row.id }}' onclick='return !window.open(this.href);'>Vaata</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
		<!-- end of header -->
	</table>
</div>

{% endblock %}
{% block scripts %}
<script>
    $(document).ready(function(){
        $(document).on('click','#save', function(){
            var row = $(this).closest('tr');
            var myJSON = [{}];
            $.ajax({
                type: 'PUT',
                contentType: 'application/json',
                data: JSON.stringify(myJSON),
                dataType: 'json',
                url: 'update',
                success: function(result){                      
                    row.prop('style', '');
                    row.next('tr').remove();
                    $('#save').remove();
                    
            }});
        });
        $('#search_company').click(function(){
            search_company($('#search_string').prop('value')); 
            
        });
        $(".clickable-row").dblclick(function () {
            var url = $(this).data("href");
            console.log("Click")
            window.open(url,'_blank');
        });
    });
    function display_results(json_obj){
        $('#company_table tbody').remove();
        var json_list = JSON.parse(json_obj); 
        $.each(json_list, function(i, obj) {
           $("#company_table")
                .append($(`<tbody><tr><td>${obj.id}</td><td>${obj.registry_id}</td><td>${obj.name}</td><td></td><td>${obj.established}</td><td></td><td style="width: 5%">
                    <a href='get_data/${obj.id}' onclick='return !window.open(this.href);'>Vaata</a>
                    </td></tr></tbody>`))
        });
    };
    function search_company(search_string){
        if(search_string =="")  
            location.reload(); 
        else{
            $.ajax({
                type: 'GET',
                contentType: 'application/json',
                data: {'search_string':search_string},
                dataType: 'json',
                url: 'search',
                success: function(result){                   
                    display_results(result);
            }});};
    };
</script>
{% endblock %}